body {
  font-family: "helvmd", Helvetica, sans-serif; /* this is the same font as Pantone's color swatch cards */
  margin: 0;
  padding: 30px;
}

.page-title {
  font-weight: 100;
}

.page-description {
  padding: 20px;
  font-weight: 200;
}

.colors {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.color-item {
  margin: 20px;
  border: 1px solid #FFF;
  border-style: solid;
  border-color: #d3d3d3;
}

.date {
  font-family: "helvmd", Helvetica, sans-serif; 
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;
  padding-left: 10px;
}

.text {
  font-family: "helvmd", Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 200;
  word-wrap: break-word;
  padding-left: 10px;
}
